# IMPORT CSV files from Google Drive to SQL DB

Este arquivo permite você baixar arquivos csv (que você tenha acesso) do Google Drive e subir para uma base SQL remota.

Caso queira subir os arquivos para uma base SQL local, é necessário rodar este arquivo em um Jupyter local também.

In [19]:
!pip install -U -q PyDrive
!pip install -U -q pymysql

    100% |████████████████████████████████| 51kB 3.3MB/s

### IMPORTA BIBLIOTECAS NECESSÁRIAS

Tanto para conexão com o Google Drive quanto para conexão com o banco de dados

In [ ]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth #IMPORTAR APENAS SE ESTIVER USANDO COLAB
from oauth2client.client import GoogleCredentials
from sqlalchemy import create_engine

import os
import pandas as pd
import pandas.io.sql as sqlio
import psycopg2
import pymysql

## SET POSTGRESQL OR MYSQL SERVER CONNECTION

In [ ]:
#PostgreSQL
p_host = ''
p_port = 5432
p_dbname = ''
p_username = ''
p_pwd = ''

#MySQL
m_host = ''
m_port = 3306
m_dbname = ''
m_username = ''
m_pwd = ''

#conn = psycopg2.connect(f"host='{host}' port={port}  dbname='{dbname}' user={username} password={pwd}")
p_engine = create_engine('postgresql://'+p_username+':'+p_pwd+'@'+p_host+':'+str(p_port)+'/'+p_dbname)
m_engine = create_engine('mysql+pymysql://'+m_username+':'+m_pwd+'@'+m_host+':'+str(m_port)+'/'+m_dbname, echo=False)

## FUNÇÕES PARA JOGAR CONTEÚDO PARA MySQL OU POSTGRESQL

In [ ]:
def arquivo(engine,fname,fid):
    output_file = os.path.join(download_path, fname)
    temp_file = drive.CreateFile({'id': fid})
    temp_file.GetContentFile(output_file)
    df = pd.read_csv(output_file)
    tablename = fname[:-4]
    print('tablename:', tablename)
    df.to_sql(name=tablename, con=engine, if_exists='replace')
    query = 'SELECT * FROM ' + tablename
    df1 = sqlio.read_sql_query(query, engine)
    if len(df.index) == len(df1.index):
        print(fname, 'subiu com sucesso')
    else:
        print(fname, 'deu ERRO')
    return "OK"

def arquivos(cur,files):
    for file in files:
        fname = file
        fid = files["file"]
        output_file = os.path.join(download_path, fname)
        temp_file = drive.CreateFile({'id': fid})
        tablename = fname[:-4]
        print('file:', fname, 'tablename:', tablename)
        df = pd.read_csv(output_file)
        df.to_sql(name=tablename, con=engine, if_exists='replace')
        query = 'SELECT * FROM ' + tablename
        df1 = sqlio.read_sql_query(query, cur)
        if len(df.index) == len(df1.index):
            print(fname, 'subiu com sucesso')
        else:
            print(fname, 'deu ERRO')
    return "OK"
    
def SQL_query(query):
    cur = db.cursor()
    result = cur.execute(query)
    return result

### INÍCIO

Autorizar a conexão ao seu Google Drive (verifique o usuário que está usando para conectar, ele deve ter acesso a pasta onde estão os arquivos que deseja carregar)

In [ ]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

### LISTA CSVs NA PASTA DO GOOGLE DRIVE 

listed = drive.ListFile({'q': "title contains '**nome ou parte do nome do arquivo**' and '**id da pasta**' in parents"}).GetList()

Para conseguir o ID da pasta, navegue até ela e copie o final da URL

![alt text](https://cdn-images-1.medium.com/max/1600/1*WFo6RElQ_kA0un3EfCEYcA.png)

In [23]:
listed = drive.ListFile({'q': "title contains '.csv' and 'ID DA PASTA NO GOOGLE DRIVE' in parents"}).GetList()
files = {}
for file in listed:
  files[file['title']] = file['id']
  print('title {}, id {}'.format(file['title'], file['id']))
print(len(files))

title gm.csv, id 1CvEE6gXyWy7JDokQ-m7wnZgU4B9WOoj2
title house_pricing_test.csv, id 1lxezOuewMJzvQK6ar69JZXVjl7LZZlqM
title UKretail.csv, id 14P3sE1jrHnx6qIVEVIrSlzjv7h7iGfHO
title Skyserver_SQL2_27_2018 6_51_39 PM.csv, id 1eRDF4pXzCMTtZsC7L7ZFMFVKJg4aLRFe
title house_sales.csv, id 1K_7AutUltl2V48C5_NkzXnicUmdjRB9R
title house_pricing_train.csv, id 1NgiiadvnS3Zb1oEqx5AIE0xE6C-oqQAm
title test.csv, id 1LKobBETs_p5fokhrLAQUoLj-5fxq05Wk
title train.csv, id 1BuQR7TKyh3WGNN0wXSJPvmBxPiVkUWhf
title winequality.csv, id 1JvkgV2UjFYX90TSCOoqK6u7wMhRbSSrA
title USBankHolidays.csv, id 1q4da2mbEXJW9Scq0lch2K7RkCx_jSLy5
title ToothGrowth.csv, id 1hSJVMY1MIt4FxkjarRvUmaHp0b3WQKgM
title default.csv, id 1l_Gl0YTIMsyve6s1pJwufaCoXCyRCsA4
title titanic.csv, id 1c6LTLFk10R034UBBXpFv9000dfGW5y-n
title tesla.csv, id 1Aa6muwsWOS1hgF4lQocwApLO_niahaxx
title tabela_ex.csv, id 1OhQLZblWuR2QB27_3u10__9usCFhrEb7
title tech_coef.csv, id 1uobYLyaiHDKKooj_XISBA3ywRh9BGEGM
title tabla.csv, id 13eSavwFlF7sPHQhfnY8V74EtEFREWVn8
title tesla_search_terms.csv, id 1GVUom-q4s0AyejeZHEdEvfBxkUH8XnZU
title data.csv, id 1YPyQJglgAjx64FO_B0rTl77IlLA_a8_i
title tb-raw.csv, id 1Oby3g8j0kgkA_Al_90zBD4EzmXb13j2G
title sales.csv, id 1Bk86XG8CuPaGvYuypsFVLpPA0nUZ04NE
title HR_comma_sep.csv, id 1PAr1A8EF99JYL7a-RshlP3TwNVrUYG3j
title random_forest_solution.csv, id 1yyfSLPP7TKwu5G7aV1_-qPp3F5LRA4lL
title regression.csv, id 17SkqO0v_4Z-XkZvZ5CX4tR8Y1sS4aZXd
title nba_2013.csv, id 1wKf_gwpS_SHY80HgdY3Au3ZRa1JaxRKl
title lesmiserables.csv, id 1DcU95wj9XskKEaC_eQ1yEyC645zkbFIW
title pew-raw.csv, id 1ZGlPip6afbs1I1dhszpZBeBvzXDeevmb
title market.csv, id 1H1KpDKHkkbn87Wg74LA5yurBV5ZfDfp9
title imdb_list.csv, id 173AykZez-okHgAvO2Ne9nsifCcBcj_z9
title gm.csv, id 1HrYbBTNrfYY4EjMue_3tjq7GAj8DPql2
title births.csv, id 1b697mKkmquT4hEEGbVxMAs7dFiixWVEY
title gender_submission.csv, id 1osE4yhg0QjwYfNsmfnHoSG9oDvyJq1GV
title data_filt.csv, id 1eNWmLoDqA0x7vV_7kQ1aFKyyvrpkjQFm
title dados_turma_ds.csv, id 1CI0EuKk_AwFpRc_EYpMkbZmWOZeQbrs9
title data_banknote_authentication.csv, id 1f5Vhxy0TRr5q7cky284oSKG_ZuLta2Gz
title cars.csv, id 1fAclSmKgehexZJ6AK1t4ElIVIJE9iBNx
title binary.csv, id 1KePBBGkAfchCaGju3CsCZqEda05mDjvJ
title AirPassengers.csv, id 129b1Q3-w6xThFYGR7rc0rkWb1guValJt
title Airlines.csv, id 1pIxUuY8Oe93yEcgEbeAWRzw6ZzNYPNu-
38

### CRIA UMA PASTA TRABALHAR OS ARQUIVOS

In [ ]:
download_path = os.path.expanduser('~/data')
try:
  os.makedirs(download_path)
except FileExistsError:
  pass

### CONFIGURAÇÃO DE QUAIS ARQUIVOS DESEJA SUBIR PARA O MySQL

Entre com o nome do arquivo que deseja subir para o MySQL, ou digite '*' para subir todos os arquivos de uma vez

In [35]:
print("Digite o nome do arquivo que deseja subir com a extenção ou '*' para subir todos de uma vez:")
fname = input()

print("Digite 'mysql' ou 'postgresql' para definir em qual banco deseja subir a tabela:")
eng = input()

if eng == 'mysql':
  engine = m_engine
elif eng == 'postgresql':
  engine = p_engine
else:
  print("ERRO: você não digitou a engine do banco corretamente")

if fname == "*":
    subindo = arquivos(engine,files)
    print(subindo)
else:
    fid = files[fname]
    subindo = arquivo(engine,fname,fid)
    print(subindo)

Digite o nome do arquivo que deseja subir com a extenção ou '*' para subir todos de uma vez:
gm.csv
Digite 'mysql' ou 'postgresql' para definir em qual banco deseja subir a tabela:
postgresql
gm
gm.csv subiu com sucesso
OK

### EXIBE ÚLTIMO DATA FRAME QUE SUBIU

In [37]:
df

,Date,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
0,2010-11-18,35.00,35.9900,33.8900,34.19,457044300.0,0.0,1.0,29.988317,30.836558,29.037259,29.294302,457044300.0
1,2010-11-19,34.15,34.5000,33.1100,34.26,107842000.0,0.0,1.0,29.260029,29.559912,28.368948,29.354278,107842000.0
2,2010-11-22,34.20,34.4800,33.8100,34.08,36650600.0,0.0,1.0,29.302870,29.542776,28.968714,29.200053,36650600.0
3,2010-11-23,33.95,33.9900,33.1900,33.25,31170200.0,0.0,1.0,29.088668,29.122940,28.437493,28.488901,31170200.0
4,2010-11-24,33.73,33.8000,33.2200,33.48,26138000.0,0.0,1.0,28.900170,28.960146,28.463197,28.685967,26138000.0
5,2010-11-26,33.41,33.8100,33.2100,33.80,12301200.0,0.0,1.0,28.625991,28.968714,28.454629,28.960146,12301200.0
6,2010-11-29,33.80,33.8100,33.0700,33.80,27776900.0,0.0,1.0,28.960146,28.968714,28.334676,28.960146,27776900.0
7,2010-11-30,33.53,34.2500,33.3600,34.20,57476900.0,0.0,1.0,28.728808,29.345710,28.583150,29.302870,57476900.0
8,2010-12-01,34.65,34.9500,34.4200,34.78,34633200.0,0.0,1.0,29.688434,29.945477,29.491368,29.799819,34633200.0
9,2010-12-02,34.92,34.9800,34.5100,34.68,23196100.0,0.0,1.0,29.919772,29.971181,29.568481,29.714138,23196100.0
10,2010-12-03,34.55,34.6000,33.9700,34.55,19395200.0,0.0,1.0,29.602753,29.645593,29.105804,29.602753,19395200.0
11,2010-12-06,34.48,34.7800,34.4100,34.48,11676500.0,0.0,1.0,29.542776,29.799819,29.482800,29.542776,11676500.0
12,2010-12-07,34.75,34.8900,34.4600,34.68,20823000.0,0.0,1.0,29.774115,29.894068,29.525640,29.714138,20823000.0
13,2010-12-08,34.61,34.7300,34.3300,34.45,12603900.0,0.0,1.0,29.654161,29.756979,29.414255,29.517072,12603900.0
14,2010-12-09,34.36,34.4300,33.6200,33.74,18402200.0,0.0,1.0,29.439959,29.499936,28.805921,28.908738,18402200.0
15,2010-12-10,33.85,33.9900,33.5300,33.81,11741700.0,0.0,1.0,29.002987,29.122940,28.728808,28.968714,11741700.0
16,2010-12-13,33.96,34.0500,33.7000,33.80,11029300.0,0.0,1.0,29.097236,29.174348,28.874465,28.960146,11029300.0
17,2010-12-14,33.73,33.9200,33.4500,33.89,15165600.0,0.0,1.0,28.900170,29.062963,28.660263,29.037259,15165600.0
18,2010-12-15,33.81,34.0100,33.6100,33.61,10182700.0,0.0,1.0,28.968714,29.140076,28.797352,28.797352,10182700.0
19,2010-12-16,33.57,33.8600,33.5600,33.61,9885700.0,0.0,1.0,28.763080,29.011555,28.754512,28.797352,9885700.0
20,2010-12-17,33.53,34.0000,33.1900,34.00,35681600.0,0.0,1.0,28.728808,29.131508,28.437493,29.131508,35681600.0
21,2010-12-20,33.91,34.0500,33.7400,33.76,12476400.0,0.0,1.0,29.054395,29.174348,28.908738,28.925874,12476400.0
22,2010-12-21,33.86,33.9400,33.7200,33.85,9012400.0,0.0,1.0,29.011555,29.080099,28.891601,29.002987,9012400.0
23,2010-12-22,33.72,34.9500,33.5300,34.92,20935100.0,0.0,1.0,28.891601,29.945477,28.728808,29.919772,20935100.0
24,2010-12-23,34.67,35.5200,34.6200,34.81,20529200.0,0.0,1.0,29.705570,30.433858,29.662730,29.825523,20529200.0
25,2010-12-27,34.41,34.8900,34.1900,34.60,7368300.0,0.0,1.0,29.482800,29.894068,29.294302,29.645593,7368300.0
26,2010-12-28,35.38,35.6700,35.0700,35.32,23489000.0,0.0,1.0,30.313904,30.562379,30.048294,30.262496,23489000.0
27,2010-12-29,35.47,36.3000,35.2500,36.02,20960800.0,0.0,1.0,30.391017,31.102169,30.202519,30.862262,20960800.0
28,2010-12-30,36.10,36.9800,36.0200,36.82,16980800.0,0.0,1.0,30.930807,31.684799,30.862262,31.547710,16980800.0
29,2010-12-31,36.84,36.9600,36.5700,36.86,6163900.0,0.0,1.0,31.564846,31.667663,31.333507,31.581982,6163900.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1819,2018-02-13,41.70,42.0700,41.3700,41.40,8924407.0,0.0,1.0,41.700000,42.070000,41.370000,41.400000,8924407.0
1820,2018-02-14,41.03,41.9100,40.9300,41.81,10257574.0,0.0,1.0,41.030000,41.910000,40.930000,41.810000,10257574.0
1821,2018-02-15,42.06,42.2100,41.3950,41.85,9455372.0,0.0,1.0,42.060000,42.210000,41.395000,41.850000,9455372.0
1822,2018-02-16,41.85,42.2800,41.0000,41.09,14348841.0,0.0,1.0,41.850000,42.280000,41.000000,41.090000,14348841.0
1823,2018-02-20,40.90,41.3300,40.5900,40.77,7359829.0,0.0,1.0,40.900000,41.330000,40.590000,40.770000,7359829.0
1824,2018-02-21,40.75,41.3000,40.5101,40.56,9074741.0,0.0,1.0,40.750000,41.300000,40.510100,40.560000,9074741.0
1825,2018-02-22,40.66,41.2000,40.5000,40.91,8777991.0,0.0,1.0,40.660000,41.200000,40.500000,40.910000,8777991.0
1826,2018-02-23,41.05,41.1400,40.5800,40.91,6261005.0,0.0,1.0,41.050000,41.140000,40.580000,40.910000,6261005.0
1827,2018-02-26,41.08,41.6200,40.7500,41.54,8665406.0,0.0,1.0,41.080000,41.620000,40.750000,41.540000,8665406.0
1828,2018-02-27,41.49,41.5400,40.1200,40.17,12628018.0,0.0,1.0,41.490000,41.540000,40.120000,40.170000,12628018.0
1829,2018-02-28,39.62,40.1500,39.3150,39.35,22813353.0,0.0,1.0,39.620000,40.150000,39.315000,39.350000,22813353.0
1830,2018-03-01,39.59,39.5900,37.4100,37.79,26183081.0,0.0,1.0,39.196379,39.196379,37.038053,37.414275,26183081.0
1831,2018-03-02,37.47,37.6100,36.5900,37.43,24060510.0,0.0,1.0,37.097457,37.236065,36.226206,37.057855,24060510.0
1832,2018-03-05,37.33,37.9000,37.1100,37.74,12011053.0,0.0,1.0,36.958849,37.523182,36.741036,37.364772,12011053.0
1833,2018-03-06,38.02,38.0799,37.5400,37.93,12147268.0,0.0,1.0,37.641988,37.701293,37.166761,37.552883,12147268.0
1834,2018-03-07,37.39,37.8400,37.1600,37.74,15052041.0,0.0,1.0,37.018252,37.463778,36.790539,37.364772,15052041.0
1835,2018-03-08,37.64,37.9300,37.2200,37.84,12859595.0,0.0,1.0,37.640000,37.930000,37.220000,37.840000,12859595.0
1836,2018-03-09,37.85,38.0800,37.6600,37.84,12251575.0,0.0,1.0,37.850000,38.080000,37.660000,37.840000,12251575.0
1837,2018-03-12,37.87,37.9900,37.5800,37.83,11340349.0,0.0,1.0,37.870000,37.990000,37.580000,37.830000,11340349.0
1838,2018-03-13,37.97,38.5399,37.8700,38.01,12346062.0,0.0,1.0,37.970000,38.539900,37.870000,38.010000,12346062.0
1839,2018-03-14,38.48,38.6100,37.6500,37.69,13293352.0,0.0,1.0,38.480000,38.610000,37.650000,37.690000,13293352.0
1840,2018-03-15,37.97,37.9900,37.5900,37.85,8078386.0,0.0,1.0,37.970000,37.990000,37.590000,37.850000,8078386.0
1841,2018-03-16,37.92,38.1500,37.6900,37.94,10016932.0,0.0,1.0,37.920000,38.150000,37.690000,37.940000,10016932.0
1842,2018-03-19,37.93,37.9800,36.5400,37.01,12021583.0,0.0,1.0,37.930000,37.980000,36.540000,37.010000,12021583.0
1843,2018-03-20,37.13,37.2600,36.7400,36.89,8448931.0,0.0,1.0,37.130000,37.260000,36.740000,36.890000,8448931.0
1844,2018-03-21,37.16,38.0200,37.1000,37.58,11412099.0,0.0,1.0,37.160000,38.020000,37.100000,37.580000,11412099.0
1845,2018-03-22,37.23,37.3300,36.2700,36.35,12455805.0,0.0,1.0,37.230000,37.330000,36.270000,36.350000,12455805.0
1846,2018-03-23,36.42,36.5900,35.1300,35.17,12939065.0,0.0,1.0,36.420000,36.590000,35.130000,35.170000,12939065.0
1847,2018-03-26,35.94,36.0500,35.2850,35.99,9251162.0,0.0,1.0,35.940000,36.050000,35.285000,35.990000,9251162.0
1848,2018-03-27,36.02,36.0300,34.5000,34.87,17393191.0,0.0,1.0,36.020000,36.030000,34.500000,34.870000,17393191.0